#### ASTR 3890 - Selected Topics: Data Science for Large Astronomical Surveys (Spring 2022)
***N. Hernitschek***
___

# Homework 10
### Due: Monday, Apr 11th at 11.00am CST

The completed lecture notebook must also be submitted by 11:00am Central Time on Apr 11th.

---

## Problem 1

**Support Vector Machine**

scikit-learn has the benefit of using a common interface for most of its machine learning methods. This makes it easier to try out different methods without changing too much code.

Starting with what we saw in the `lecture_10.ipynb` notebook and the code snipplet below, use `sklearn.svm.SVC` to predict what type of iris has a 3cm x 5cm sepal and 4cm x 2cm petal. Don't forget the model validation.

In [1]:
'''
from sklearn.svm import SVC
iris = datasets.load_iris()
X, y = iris.data, iris.target
Xtest = np.array([[3,5,4,2],])

model = ____() # fill that in
model.fit(____,____) # fill that in
result = ____.____(____) # fill that in
print(iris.target_names[result]) # fill that in
'''

'\nfrom sklearn.svm import SVC\niris = datasets.load_iris()\nX, y = iris.data, iris.target\nXtest = np.array([[3,5,4,2],])\n\nmodel = ____() # fill that in\nmodel.fit(____,____) # fill that in\nresult = ____.____(____) # fill that in\nprint(iris.target_names[result]) # fill that in\n'

### Solution

In [2]:
from sklearn import svm, datasets
from sklearn.svm import SVC
from sklearn.datasets import load_iris
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics.cluster import completeness_score

In [3]:
#Prepare data
iris = datasets.load_iris()
X, y = iris.data, iris.target
XsampleTest = np.array([[3,5,4,2],])
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.35,random_state=0)

#Build model
model = svm.SVC(kernel="poly", degree=3, gamma="auto")
model.fit(X_train,y_train)
result = model.predict(XsampleTest)
print(iris.target_names[result])

['versicolor']

In [4]:
#Model validation

#Run model
result = model.predict(X_test)


#Generate confusion matrix
print("Confusion matrix: \n" ,confusion_matrix(y_test, result))

#Generate purity score
contingency_matrix = metrics.cluster.contingency_matrix(y_test, result)
print("Purity: ", round(np.sum(np.amax(contingency_matrix, axis=0)) / np.sum(contingency_matrix)*100,2),"%")

#Generate completness score
print("Completness: ", round(completeness_score(y_test, result)*100,2),"%")

#Show raw data success
predicted = iris.target_names[result]
actual = iris.target_names[y_test]
df = pd.DataFrame(list(zip(predicted, actual)),columns =['Predicted', 'Actual'])
df['Result'] = np.where(df['Predicted']== df['Actual'], "Correct", "Incorrect")
def coloring(series):    
    highlight = 'background-color: #6a7374;'
    default = ''
    return [highlight if row == "Incorrect" else default for row in series]
    
df.style.apply(coloring, subset=['Result'])

Confusion matrix:
 [[16  0  0]
 [ 0 20  1]
 [ 0  1 15]]
Purity:  96.23 %
Completness:  86.57 %